<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <%= @shortened_url.url %>
  <title>ShowusyourAwesome Landing Page</title>
  <meta name="Home" content="Site_Directory">
  <meta name="ShowusyourAwesome" content="Home">
<script src="vendor/assets/javascripts/jquery3.js"></script>
  <link rel="stylesheet" href="app/assets/stylesheets/index.scss">
 <script src="app/assets/stylesheets/index.js"></script>

</head>

<body>
<div id="cursor">
<div id="circle"></div>
</div>
<h1>Hello Friend.</h1>
</body>
<footer>ShowusyourAwesome.com All rights reserved.</footer>
</html>
